.map {
  width: 100%;
  height: auto;
}

.marker {

}

.flag{

    transform: translate(-50% , -50%);
    width: 20px;
    height: auto;
}

.note {
  display: none;

}

.marker:hover .note {
  display: block;
}
